.scroll-reveal {
    margin: 20px 0;
}

.scroll-reveal-text {
    font-size: clamp(1rem, 4vw, 2rem);
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.word {
    display: inline-block;
}