.text-type {
    display: inline-block;
    white-space: nowrap;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.text-type__content {
    display: inline;
}

.text-type__cursor {
    margin-left: 0.25rem;
    display: inline-block;
    opacity: 1;
    animation: cursor-blink 1s step-end infinite;
}

.text-type__cursor--hidden {
    display: none;
}

@keyframes cursor-blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}